$primaryColor: #031058;
$secondaryColor: #031058;
$fontColor: #35373a;
$accent: #3a3f44;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$fontFamily: 'times', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: .5vw;