$primaryColor: #062430;

$secondaryColor: #5ce0e6;

$menuColor: #062430;

$menuTextColor: rgba(255,255,255,0.9);

$defaultFont:'Poppins', sans-serif;

$mainFont: 'Poppins', sans-serif;

$regularWeight: 300;

$lightWeight: 300;

$normalWeight: 500;

$heavyWeight: 700;

$gutter: 2%;