
header, nav, main, footer {
    max-width: 71.25rem;   /* Equal to 1140px */
    margin:auto;
}


nav ul {padding-left: 2%;}
nav li {width:auto;}
nav a {padding: .5rem 1rem;}


/* Header rules here */
#logoTxt h1 {
font-size: 2rem;

}

#logoTxt h2 {
    font-size: 1.7rem;
}


/* -------------- Main styles here ---------------- */


div.familyGallery figure {
    flex-basis: 21%;
    
}

