/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #fff;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

.logo {
    float: left;
    margin: 0 2% 0 0;

}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #cf3e3b;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #b93633;
    color: #eee;
    border-left: 1px solid #a52f2d;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #a52f2d;
    color: #fff;
}

/*----------- MAIN --------------*/

main {
    padding: 0 2%;
    min-height: 10rem;

    h2 {
        color: #293753;
    }

    .heroImg img, .founderPhoto img {
        width: 100%;
    }

    .heroImg div, .founderPhoto p {
        text-align: center;
        font-weight: 500;
        color: #293753;
    }

    .heroImg {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    .founderPhoto {
        display: block;
        float: right;
        width: 46%;
        margin: 0 2%;
    }

}





/*----------- FOOTER --------------*/
footer {
    background-color: #cf3e3b;
    color: #fff;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}