/* Tells the box sizing to follow the box size protocal. */
* { -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}

/* Body rules here */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

/* Header rules here */
header {
    background-color: $primaryColor;
    color: #eee;
    padding: 1rem $gutter;              /* 1 rem = base font * 1. Base font is 16, so 1 rem = 16px */

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
        
    } /* End of h1 */

    h2 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: $regularWeight;
        
    } /* End of h2 */

} /* End of header */


/* Navigation rules here */
nav {
    background-color: #833d3f;
    ul {margin: 0; padding: 0;}
    li {list-style-type: none;}
    li.active {background-color: #484941}

    a {
        display: block;
        padding: .8rem; /* 44min height */
        color: #eee;
        text-align: center;
        text-decoration: none;
    } /* End of a */

    a:hover {background-color: #444;}

} /* End of nav */

/* Main rules here */
main {
    padding: 1rem $gutter;
    display: block;

    h1 {color: $primaryColor;
        font-weight: $heavyWeight;
    } /* End of h1 */

    figure {
        width: 100%;
        margin: 0;

        img {width: 100%;}
    } /* End of figure */

    figcaption {text-align: center; font-size: .8rem;}

} /* End of main */

/* Footer rules here */
footer {
    text-align:center;
    color: #eee;
    padding: 1rem $gutter;
    background-color: $primaryColor;
}